.authorization_container {
  display: flex;
  justify-content: center;
}
.registration_input_wrapper {
  margin-top: 12px;
}

.registration_button_wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;

  .registration_button_primary {
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid #6083ff;
    background-color: #6083ff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  :hover {
    background-color: rgb(168, 166, 246);
  }
}
