@import '../../colors';

.authorization_container {
  display: flex;
  justify-content: center;
}
.registration_input_wrapper {
  margin-top: 12px;
}

.registration_button_wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;

  .registration_button_primary {
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid $lightBlueColor;
    background-color: $lightBlueColor;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  :hover {
    background-color: $lightBlueHover;
  }
  .registration_error_message {
    margin-top: 2px;
    color: $errorMain;
    font-size: 14px;
  }
}
