.article_footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-self: baseline;
  background-color: whitesmoke;
  box-shadow: 0px 0px 0px black;
  .article_footer_text {
    margin-left: 20px;
  }
  .article_footer_views_and_likes_container {
    display: flex;
    margin-right: 50px;
    width: 350px;
    justify-content: space-between;
  }
  .article_img {
    height: 20px;
    width: 20px;
  }
  .heart_inactive {
    color: gray;
    cursor: pointer;
  }
  .heart_active {
    color: red;
    cursor: pointer;
  }
}
