@import '../colors';
.active_custom_link {
  color: $lightBlueColor;
}
.custom_link {
  width: fit-content;
}
.layout_wrapper {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  .layout_wrapper_main {
    display: grid;
    grid-template-columns: 200px 1fr;
    .layout_wrapper_nav {
      display: flex;
      flex-direction: column;
    }
  }
}
.footer {
  width: 100%;
  max-width: 1000px;
  height: 50px;
  background: $lightBlueColor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;

  a {
    color: #ffffff;
    cursor: pointer;
  }
}
