.footer_start {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  background-color: rgb(85, 126, 188);

  .text {
    color: aliceblue;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgb(53, 54, 54);
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .footer_start {
    width: 100%;
    height: 300px;
    .text {
      margin-top: 10px;
      font-size: 30px;
    }
  }
}

@media (max-width: 718px) {
  .footer_start {
    height: 200px;
    .text {
      font-size: 20px;
    }
  }
}

@media (max-width: 512px) {
  .footer_start {
    height: 150px;
    .text {
      font-size: 15px;
    }
  }
}
@media (max-width: 512px) {
  .footer_start {
    height: 125px;
  }
}
