.header_start {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2%;
  background-color: rgb(85, 126, 188);
  border-bottom: 3px;
  border-color: black;
  min-height: 80px;
}

.header_start .logo {
  display: flex;
  color: aliceblue;
  text-shadow: 1px 1px 2px rgb(53, 54, 54);
  align-items: center;
  width: 600px;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 25px;
  margin-left: 30px;
}

.header_start .log_sign {
  display: flex;
  border-radius: 100px;
  height: 50px;
  width: 400px;
  border: none;
  background: aliceblue;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-right: 25px;
  box-shadow: 1px 1px 2px rgb(53, 54, 54);
  font-size: large;
  cursor: pointer;
  letter-spacing: 2.8px;
  padding: 15px 50px;
  border-radius: 5rem;
  box-shadow: 1px 2.9px 16px rgba(255, 255, 255, 0.4);
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);

  &:hover {
    box-shadow: 3px 4.9px 16px rgba(255, 255, 255, 0.82);
    letter-spacing: 3px;
  }
  &--clicked {
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    padding: 15px 2px;
    width: 50px;
    color: transparent;
  }
}

.header_start .Link {
  text-decoration: none;
}

@media (max-width: 900px) {
  .header_start {
    width: 100%;
    height: 2%;
    min-height: 40px;
  }

  .header_start .logo {
    width: 200px;
    margin-bottom: 5px;
    font-size: 15px;
    margin-left: 15px;
  }

  .header_start .log_sign {
    border-radius: 5px;
    height: 5px;
    width: 5px;
    margin-top: 5px;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 1.4px;
    padding: 15px 45px;
    border-radius: 3rem;
  }
}
